#MainFrame{
    background-color: #151515;
}

#entry{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font: 26px Rajdhani;
}

#result_list{
    border: none;
    outline: none;
    background-color: transparent;
}

#result_list::item{
    color: transparent;
}